<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <filter>
   <filter-name>charEncoding</filter-name>
   <filter-class>com.microblog.filter.CharEncoding</filter-class>
  </filter>
  <filter-mapping>
   <filter-name>charEncoding</filter-name>
   <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.microblog.listener.UserIndexListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>BallhotServlet</servlet-name>
    <servlet-class>com.microblog.servlet.BallhotServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.microblog.servlet.UserServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.microblog.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckPasswordServlet</servlet-name>
    <servlet-class>com.microblog.servlet.CheckPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.microblog.servlet.UpdateUserServlet</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>com.microblog.servlet.MailServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.microblog.servlet.HomeServlet</servlet-class>
  </servlet>

<servlet>
    <servlet-name>CollectionServlet</servlet-name>
    <servlet-class>com.microblog.servlet.CollectionServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>WeiboServlet</servlet-name>
    <servlet-class>com.microblog.servlet.WeiboServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>RelationServlet</servlet-name>
    <servlet-class>com.microblog.servlet.RelationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>BallhotServlet</servlet-name>
    <url-pattern>/BallhotServlet</url-pattern>
  </servlet-mapping>
  
 

  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertCommentServlet</servlet-name>
    <url-pattern>/InsertCommentServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CheckPasswordServlet</servlet-name>
    <url-pattern>/CheckPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
 

  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/MailServlet</url-pattern>
  </servlet-mapping>
 
 
 <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
 
 <servlet-mapping>
    <servlet-name>CollectionServlet</servlet-name>
    <url-pattern>/CollectionServlet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>WeiboServlet</servlet-name>
    <url-pattern>/WeiboServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RelationServlet</servlet-name>
    <url-pattern>/RelationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
   <filter>
        <filter-name>CharsetEncodingFilter</filter-name>
        <filter-class>
            com.microblog.common.CharsetEncodingFilter
        </filter-class>
        <init-param>
            <param-name>endcoding</param-name>
            <param-value>utf-8</param-value> <!--设置你想用的字符集-->
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharsetEncodingFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
